/**EXTRA large screen**/ 

@media only screen 
  and (min-device-width: 1024px) {

html {
  font-size: 100%;
}
    
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr;
}

#hero-image-reflect {
  display: none;
}

#psuedo-nav {
  display: none;
  

  flex-direction: column;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: 'open sans condensed';
  background-color: black;
  font-weight: lighter;
}

#about-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 0.625rem;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  border-top: solid;
  border-width: 1px;
  border-color: #E2CBDB;
  font-size: 1rem;
}
#about {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

#extra-photo-container {
  display: grid;
  grid-template-columns: 60vw 1fr;
  grid-template-rows: auto 5vh;
  margin-left: 5vw;
  margin-right: 10vw;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}

#extra-photo {
  display: flex;
  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1581462490/slide_film_12_qa5w4w.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 1rem;
}

#extra-photo:hover {
  filter: opacity(50%);
}

#photo-caption-jh {
  align-text: right;
  font-size: 80%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  color: silver;
  text-align: right;
}

#photo-caption-kh {
  font-size: 80%;
  align-text: center;
  color: silver;
  text-align: right;
  padding-right: 2px;
}

#mobile-caption-jh {
  display: none;
}


#hero-image {
      background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1582759107/DSC00010_resized_gvayvi.jpg");
      background-size: cover;
      background-position: center;
      text-align: center;
      min-width: 100%;
      filter: grayscale(25%);
    }

body {
  margin: 0;
  padding: 0;
  font-family: 'work sans';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
    text-transform: uppercase;
    font-family: 'open sans condensed';
    font-size: 1.3rem;
    padding-right: 0.625rem;
}

nav div {
  color: white;
  align-self: flex-end;
  padding-left: 1.5rem;
}

nav div:hover {
  color: pink;
}

h1 {
  justify-self: center;
  color: white;
  font-family: 'cedarville cursive';
  font-weight: 100;
  text-shadow: 5px 5px 10px #FD1F6D;
  font-size: 1000%;
  margin-top: 0;
  margin-bottom: -1.5rem;
  padding: 0;
}
    
h1:hover {
  text-shadow: 5px 5px 10px #ED1F6D;
  color: pink;
  }

#samples-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0.5rem;
  align-items: start;
  justify-items: center;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 10vh;
}
#samples-text {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  
}
.samples-info {
  font-size: 1rem;
  max-width: 12vw;
  padding-bottom: 3rem;
}
    #lb-media {
      grid-row: 0 / 1;
      grid-column: 0 / 1;}
    #lb-info {
      grid-row: 2 / 3;
      grid-column: 0 / 1;}
    #pc-media {
      grid-row: 0 / 1;
      grid-column: 2 / 3;}
    #pc-info {
      grid-row: 2 / 3;
      grid-column: 2 / 3;}
    #peach-beach-media {
      grid-row: 0 / 1;
      grid-column: 3 / 4;}
    #peach-beach-info {
      grid-row: 2 / 3;
      grid-column: 3 / 4;}
    #lemix-media {
      grid-row: 0 / 1;
      grid-column: 4 / 5;}
    #lemix-info {
      grid-row: 2 / 3;
      grid-column: 4 / 5;}
    #sincerely-media {
      grid-row: 3 / 4;
      grid-column: 4 / 5;}
    #sincerely-info {
    grid-row: 4 / 5;
    grid-column: 4 / 5;}
    #lutes-media {
      grid-row: 3 / 4;
      grid-column: 0 / 1;}
    #lutes-info {
      grid-row: 4 / 5;
      grid-column: 0 / 1;}
    #sealife-media {
      grid-row: 3 / 4;
      grid-column: 2 / 3;}
    #sealife-info {
     grid-row: 4 / 5;
     grid-column: 2 / 3;}
    #seasalt-media {
     grid-row: 3 / 4;
     grid-column: 3 / 4;}
    #seasalt-info {
      grid-row: 4 / 5;
      grid-column: 3 / 4;
}

.samples-media:hover {
  filter: opacity(50%);
}

#psuedo-nav p {
  background-color: black;
  color: white;
  margin: 0; 
  margin-bottom: 1px;/**equal to 5px**/
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
}

.music-names {
  font-size: 1rem;
}

a { /**prevents automatic hyperlinks**/
  color: inherit;
  text-decoration: none;
}

div img { /**these are album art covers**/
  width: auto;
  max-width: 12vw;
  height: auto;
}

div a img { /*border around album art covers*/
  border-style: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}


#pricing-guide {
  display: flex;
  flex-direction: column;
  background-color: #8ED081;
  margin-left: 15vw;
  margin-right: 15vw;
}

#rates-text{
}


.tiny-icons {
  width: 15px;
  length: auto;
  padding-right: 5px;
}

h2 {
 margin-top: 3;
 margin-bottom: 0;
 padding-top: 1.5rem;
 padding-bottom: 1rem;
 font-family: 'cedarville cursive';
 font-size: 400%;
 font-weight: lighter;
 text-align: center;
}

h2:hover {
  color: pink;
  font-size: 402%;
  letter-spacing: inherit;
  animation-name: wiggle-letters;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes wiggle-letters {
  0% {letter-spacing: 1px;}
  10% {filter: hue-rotate(180deg);}
  20% {filter: hue-rotate(270deg);}
  30% {filter: hue-rotate(360deg);}
  40% {filter: hue-rotate(270deg);}
  50% {letter-spacing: 5px;
       filter: hue-rotate(180deg);}
  60% {filter: hue-rotate(270deg);}
  70% {filter: hue-rotate(360deg);}
  80% {filter: hue-rotate(270deg);}
  90% {filter: hue-rotate(180deg);}
  100%{letter-spacing: 1px;}
}

#pricing-grid-container {
  background-color: #E2CBDB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#pricing-grid-container:hover {
  filter: opacity(50%);
}

#pricing {
  color: black;
  font-size: 1rem;
  font-weight: normal;
}

div h3 {
  margin-left: 0.625rem;
  text-align: left;
}

#icon {
  width: 4rem;
  height: auto;
  background: #E2CBDB;
  border-radius: 5%;
  grid-column: 0 / 1;
  grid-row: 0 / 1;
}

#icon-container {
  justify-self: start;
  padding: 0.625rem;
}

#contact-container {
  display: block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#contact-info {
  display: block;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #E2CBDB;
} 

.social-media-icons:hover {
 filter: opacity(50%);
}

#social-media-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-gap: 1rem;
   font-size: 95%;
   text-align: center;
   padding: 1rem;
   margin-top: 10vh;   
   margin-left: 15vw;
   margin-right: 15vw;
}

.social-media-icons {
  padding-top: 0.625rem;
  width: 3rem;
  height: auto;
  font-size: 90%;
  border-style: none;
}

#social-media-name {
  font-size: 0.8rem;
}

#footer-container {
	 display: flex;
	 width: 100vw;
	 background-color: black;
	 filter: opacity(50%);
	 margin-top: 2rem;
	}

	footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 1rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 95vw;
	  color: silver;
	  grid-template-columns: 15vw 1fr 15vw;
	  grid-template-rows: 1fr;
	  font-size: 95%;
	  padding: 2rem 1rem 1rem 1rem;
	  line-height: 1.5;
	}
	

	.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 15vh;
	}
	

	.column-2 {
	  border-right: solid;
	  border-width: 1px;
	}
	

	.column-3 {
	  text-transform: uppercase;
	  letter-spacing: 0.5pt;
	  font-weight: 500;
	}
	

	.footer-reference-link {
	  text-decoration: none;
	  color: white;
	}
	

	.footer-reference-link:hover {
	  text-decoration: underline;
	  color: white;
	}
.footer-list-item:hover {
  font-weight: 700;
}
}  











/*************************Base styles - large screen**/ 

@media only screen 
  and (min-device-width: 769px)
  and (max-device-width: 1023px) {

html {
  font-size: 100%;
}
    
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 1fr;
}

#hero-image-reflect {
  display: none;
}

#psuedo-nav {
  display: none;
  

  flex-direction: column;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: 'open sans condensed';
  background-color: black;
  font-weight: lighter;
}

#photo-caption-jh {
  display: none;
}

#photo-caption-kh {
  font-size: 80%;
  color: silver;
  text-align: center;
  padding-right: 2px;
}

#mobile-caption-jh {
  display: none;
}


#about-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 0.625rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
  font-size: 1.4rem;
}
#about {
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}
#hero-image {
      background-image:       url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1582759107/DSC00010_resized_gvayvi.jpg");
      background-size: cover;
      background-position: center;
      text-align: center;
      min-width: 100%;
      filter: grayscale(25%);
    }

 #screen-adjuster-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
    }

body {
  margin: 0;
  padding: 0;
  font-family: 'work sans';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
    text-transform: uppercase;
    font-family: 'open sans condensed';
    font-size: 1.5rem;
    padding-right: 0.625rem;
}

nav div {
  color: white;
  align-self: flex-end;
  padding-left: 1.5rem;
}

nav div:hover {
  color: pink;
}

h1 {
  justify-self: center;
  color: white;
  font-family: 'cedarville cursive';
  font-weight: 100;
  text-shadow: 5px 5px 10px #FD1F6D;
  font-size: 1000%;
  margin-top: 0;
  margin-bottom: -1.5rem;
  padding: 0;
}
    
h1:hover {
  text-shadow: 5px 5px 10px #ED1F6D;
  color: pink;
  }

#samples-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0.5rem;
  align-items: start;
  justify-items: center;
}
#samples-text {
  margin-left: 3rem;
  margin-right: 2rem;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}
.samples-info {
  font-size: 95%;
  max-width: 17vw;
  padding-bottom: 1rem;
}
    #lb-media {
      grid-row: 0 / 1;
      grid-column: 0 / 1;}
    #lb-info {
      grid-row: 2 / 3;
      grid-column: 0 / 1;}
    #pc-media {
      grid-row: 0 / 1;
      grid-column: 2 / 3;}
    #pc-info {
      grid-row: 2 / 3;
      grid-column: 2 / 3;}
    #peach-beach-media {
      grid-row: 0 / 1;
      grid-column: 3 / 4;}
    #peach-beach-info {
      grid-row: 2 / 3;
      grid-column: 3 / 4;}
    #lemix-media {
      grid-row: 0 / 1;
      grid-column: 4 / 5;}
    #lemix-info {
      grid-row: 2 / 3;
      grid-column: 4 / 5;}
    #sincerely-media {
      grid-row: 3 / 4;
      grid-column: 4 / 5;}
    #sincerely-info {
    grid-row: 4 / 5;
    grid-column: 4 / 5;}
    #lutes-media {
      grid-row: 3 / 4;
      grid-column: 0 / 1;}
    #lutes-info {
      grid-row: 4 / 5;
      grid-column: 0 / 1;}
    #sealife-media {
      grid-row: 3 / 4;
      grid-column: 2 / 3;}
    #sealife-info {
     grid-row: 4 / 5;
     grid-column: 2 / 3;}
    #seasalt-media {
     grid-row: 3 / 4;
     grid-column: 3 / 4;}
    #seasalt-info {
      grid-row: 4 / 5;
      grid-column: 3 / 4;
}

.samples-media:hover {
  filter: opacity(50%);
}

#hero-name:hover {
  color: pink;
}

#psuedo-nav p {
  background-color: black;
  color: white;
  margin: 0; 
  margin-bottom: 1px;/**equal to 5px**/
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
}

a { /**prevents automatic hyperlinks**/
  color: inherit;
  text-decoration: none;
}

div img { /**these are album art covers**/
  width: auto;
  max-width: 17vw;
  height: auto;
}

div a img { /*border around album art covers*/
  border-style: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}

#pricing-guide {
  display: flex;
  flex-direction: column;
  background-color: #8ED081;
}

#rates-text{
}

.tiny-icons {
  width: 15px;
  length: auto;
  padding-right: 5px;
}

h2 {
 margin-top: 0;
 margin-bottom: 0;
 padding-top: 1.5rem;
 padding-bottom: 1rem;
 font-family: 'cedarville cursive';
 font-size: 400%;
 font-weight: lighter;
 text-align: center;
}

h2:hover {
  color: pink;
  font-size: 402%;
  letter-spacing: inherit;
  animation-name: wiggle-letters;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes wiggle-letters {
  0% {letter-spacing: 1px;}
  10% {filter: hue-rotate(180deg);}
  20% {filter: hue-rotate(270deg);}
  30% {filter: hue-rotate(360deg);}
  40% {filter: hue-rotate(270deg);}
  50% {letter-spacing: 5px;
       filter: hue-rotate(180deg);}
  60% {filter: hue-rotate(270deg);}
  70% {filter: hue-rotate(360deg);}
  80% {filter: hue-rotate(270deg);}
  90% {filter: hue-rotate(180deg);}
  100%{letter-spacing: 1px;}
}

#pricing-grid-container {
  background-color: #E2CBDB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10vw;
  padding-right: 10vw;
}

#pricing-grid-container:hover {
  filter: opacity(50%);
}

#pricing {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
}

div h3 {
  margin-left: 0.625rem;
  text-align: left;
}

#icon {
  width: 4.5rem;
  height: auto;
  background: #E2CBDB;
  border-radius: 5%;
  grid-column: 0 / 1;
  grid-row: 0 / 1;
}

#icon-container {
  justify-self: start;
  padding: 0.625rem;
}

#contact-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#contact-info {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
} 

.social-media-icons:hover {
 filter: opacity(50%);
}

#social-media-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-gap: 1rem;
   font-size: 95%;
   text-align: center;
   padding: 1rem;
   margin-top: 1rem;   
   margin-left: 10vw;
   margin-right: 10vw;
}

.social-media-icons {
  padding-top: 0.625rem;
  width: 4rem;
  height: auto;
  font-size: 90%;
  border-style: none;
}

#social-media-name {
  font-size: 0.8rem;
}

#footer-container {
	 display: flex;
	 width: 100vw;
	 background-color: black;
	 filter: opacity(50%);
	 margin-top: 2rem;
	}

	footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 1rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 95vw;
	  color: silver;
	  grid-template-columns: 15vw 1fr 15vw;
	  grid-template-rows: 1fr;
	  font-size: 95%;
	  padding: 2rem 1rem 1rem 1rem;
	  line-height: 1.5;
	}
	

	.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 15vh;
	}
	

	.column-2 {
	  border-right: solid;
	  border-width: 1px;
	}
	

	.column-3 {
	  text-transform: uppercase;
	  letter-spacing: 0.5pt;
	  font-weight: 500;
	}
	

	.footer-reference-link {
	  text-decoration: none;
	  color: white;
	}
	

	.footer-reference-link:hover {
	  text-decoration: underline;
	  color: white;
	}
.footer-list-item:hover {
  font-weight: 700;
}
}   



  
/**************for screens larger than 480px and smaller than 769px****************/
@media only screen 
  and (min-device-width: 481px)
  and (max-device-width: 768px) {

html {
  font-size: 95%;
}
    
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 1fr;
}

#hero-image-reflect {
  display: none;
}

#photo-caption-jh {
  display: none;
}

#photo-caption-kh {
  font-size: 80%;
  color: silver;
  text-align: center;
  padding-right: 2px;
}

#mobile-caption-jh {
  display: none;
}


#psuedo-nav {
  display: none;
  

  flex-direction: column;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: 'open sans condensed';
  background-color: black;
  font-weight: lighter;
}

#about-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
  font-size: 1.4rem;
}
#about {
  margin-left: 5vw;
  margin-right: 5vw;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}
#hero-image {
      background-image:       url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1582759107/DSC00010_resized_gvayvi.jpg");
      background-size: cover;
      background-position: center;
      text-align: center;
      min-width: 100%;
      filter: grayscale(25%);
    }

 #screen-adjuster-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
    }

body {
  margin: 0;
  padding: 0;
  font-family: 'work sans';
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
    text-transform: uppercase;
    font-family: 'open sans condensed';
    font-size: 1.5rem;
    
}

nav div {
  color: white;
  align-self: flex-end;
  padding-right: 1rem;
}

nav div:hover {
  color: pink;
}

h1 {
  justify-self: center;
  color: white;
  font-family: 'cedarville cursive';
  font-weight: 100;
  text-shadow: 5px 5px 10px #FD1F6D;
  font-size: 750%;
  margin-bottom: -1.5rem;
}
    
h1:hover {
  text-shadow: 5px 5px 10px #ED1F6D;
  color: pink;
  }    
    

#samples-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0.5rem;
  align-items: start;
  justify-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}
#samples-text {
  margin-left: 3rem;
  margin-right: 2rem;
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}
.samples-info {
  font-size: 95%;
  max-width: 15vw;
  padding-bottom: 1rem;
}
    #lb-media {
      grid-row: 0 / 1;
      grid-column: 0 / 1;}
    #lb-info {
      grid-row: 2 / 3;
      grid-column: 0 / 1;}
    #pc-media {
      grid-row: 0 / 1;
      grid-column: 2 / 3;}
    #pc-info {
      grid-row: 2 / 3;
      grid-column: 2 / 3;}
    #peach-beach-media {
      grid-row: 0 / 1;
      grid-column: 3 / 4;}
    #peach-beach-info {
      grid-row: 2 / 3;
      grid-column: 3 / 4;}
    #lemix-media {
      grid-row: 0 / 1;
      grid-column: 4 / 5;}
    #lemix-info {
      grid-row: 2 / 3;
      grid-column: 4 / 5;}
    #sincerely-media {
      grid-row: 3 / 4;
      grid-column: 4 / 5;}
    #sincerely-info {
    grid-row: 4 / 5;
    grid-column: 4 / 5;}
    #lutes-media {
      grid-row: 3 / 4;
      grid-column: 0 / 1;}
    #lutes-info {
      grid-row: 4 / 5;
      grid-column: 0 / 1;}
    #sealife-media {
      grid-row: 3 / 4;
      grid-column: 2 / 3;}
    #sealife-info {
     grid-row: 4 / 5;
     grid-column: 2 / 3;}
    #seasalt-media {
     grid-row: 3 / 4;
     grid-column: 3 / 4;}
    #seasalt-info {
      grid-row: 4 / 5;
      grid-column: 3 / 4;
}

.samples-media:hover {
  filter: opacity(50%);
}

#psuedo-nav p {
  background-color: black;
  color: white;
  margin: 0; 
  margin-bottom: 1px;/**equal to 5px**/
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
}

a { /**prevents automatic hyperlinks**/
  color: inherit;
  text-decoration: none;
}

div img { /**these are album art covers**/
  width: auto;
  max-width: 15vw;
  height: auto;
}

div a img { /*border around album art covers*/
  border-style: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}

#pricing-guide {
  display: flex;
  flex-direction: column;
  background-color: #8ED081;
}

#rates-text{
}

#pricing-1 {
  background-color: silver;
  margin: 5vw;
}

.tiny-icons {
  width: 15px;
  length: auto;
  padding-right: 5px;
}

h2 {
 margin-top: 0;
 margin-bottom: 0;
 padding-top: 1rem;
 padding-bottom: 1rem;
 font-family: 'cedarville cursive';
 font-size: 300%;
 font-weight: lighter;
 text-align: center;
}

h2:hover {
  color: pink;
  font-size: 302%;
  letter-spacing: inherit;
  animation-name: wiggle-letters;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes wiggle-letters {
  0% {letter-spacing: 1px;}
  10% {filter: hue-rotate(180deg);}
  20% {filter: hue-rotate(270deg);}
  30% {filter: hue-rotate(360deg);}
  40% {filter: hue-rotate(270deg);}
  50% {letter-spacing: 5px;
       filter: hue-rotate(180deg);}
  60% {filter: hue-rotate(270deg);}
  70% {filter: hue-rotate(360deg);}
  80% {filter: hue-rotate(270deg);}
  90% {filter: hue-rotate(180deg);}
  100%{letter-spacing: 1px;}
}

#pricing-grid-container {
  background-color: #E2CBDB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15vw;
  padding-right: 15vw;
}

#pricing-grid-container:hover {
  filter: opacity(50%);
}

#pricing {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
}

div h3 {
  margin-left: 0.625rem;
  text-align: left;
}

#icon {
  max-width: 4.5rem;
  padding-left: 5vw;
  height: auto;
  background: #E2CBDB;
  border-radius: 5%;
  grid-column: 0 / 1;
  grid-row: 0 / 1;
}

#icon-container {
  justify-self: start;
  padding: 0.625rem;
}

#contact-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#contact-info {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
} 

.social-media-icons:hover {
 filter: opacity(50%);
}

#social-media-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   font-size: 95%;
   text-align: center;
   padding: 1rem;
   margin-left: 30vw;
   margin-right: 30vw;
}

.social-media-icons {
  padding-top: 0.625rem;
  width: 4rem;
  height: auto;
  font-size: 90%;
  border-style: none;
}

#social-media-name {
  font-size: 0.8rem;
}

#footer-container {
	 display: flex;
	 width: 100vw;
	 background-color: black;
	 filter: opacity(50%);
	 margin-top: 2rem;
	}

	footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 1rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 95vw;
	  color: silver;
	  grid-template-columns: 15vw 1fr 15vw;
	  grid-template-rows: 1fr;
	  font-size: 95%;
	  padding: 2rem 1rem 1rem 1rem;
	  line-height: 1.5;
	}

	.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 15vh;
	}

	.column-2 {
	  border-right: solid;
	  border-width: 1px;
	}

	.column-3 {
	  text-transform: uppercase;
	  letter-spacing: 0.5pt;
	  font-weight: 500;
	}

	.footer-reference-link {
	  text-decoration: none;
	  color: white;
	}

	.footer-reference-link:hover {
	  text-decoration: underline;
	  color: white;
	}
.footer-list-item:hover {
  font-weight: 700;
}
} 
  
/**MOBILE STYLES*******************************************************/
@media only screen 
  and (min-device-width: 0px)
  and (max-device-width: 480px) {

html {
  font-size: 90%;
}

#about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
  border-top: solid;
  border-width: 1px;
  border-color: #E2CBDB;
  font-size: 1.3rem;
}

#about {
  padding-left: 1rem;
  padding-right: 1rem;
}

#extra-photo {
  display: none;
}

#extra-photo-container {
  display: grid;
  grid-template-columns: 95vwfr;
  grid-template-rows: 1fr;
}

#photo-caption-jh {
  display: none;
}

#photo-caption-kh {
  display: none;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'work sans';
}
nav {
    display: none;
}

nav div {
  color: white;
  align-self: flex-end;
  margin-right: 5vw;
}

nav div:hover {
  color: pink;
}

.main-container {
   display: grid;
   grid-template-columns: 100vw;
   grid-template-rows: 41vh auto 41vh;
}

#hero-image {
  background-color: black;
  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1581462490/slide_film_12_qa5w4w.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

#hero-name {
  justify-self: center;
  color: white;
  font-family: 'cedarville cursive';
  font-weight: 100;
  text-shadow: 5px 5px 10px #FD1F6D;
  font-size: 500%;
}

#hero-name:hover {
  color: pink;
}

#hero-image-reflect {
  display: flex;
  background-color: black; 
  background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/a_180/v1581462490/slide_film_12_qa5w4w.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

#mobile-caption-jh {
  text-align: center;
  color: silver;
  font-size: 80%;
}

#photo-caption-kh {
  display: none;
}

#psuedo-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: 'open sans condensed';
  background-color: none;
  font-weight: lighter;
  border-top: solid;
  border-width: 1px;
  border-color: white;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
}

#psuedo-nav p {
  background-color: black;
  color: white;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 2px;
}

a { /**prevents automatic hyperlinks**/
  color: inherit;
  text-decoration: none;
}

div a img { /*border around album art covers*/
  border-style: solid;
  border-width: 1px;
  border-color: #E2CBDB;
}

#pricing-guide {
  display: flex;
  flex-direction: column;
  background-color: #8ED081;
}

#rates-text{
}

#pricing-1 {
  background-color: silver;
  margin: 5vw;
}

.tiny-icons {
  width: 15px;
  length: auto;
  padding-right: 5px;
}

h2 {
 margin-top: 0;
 margin-bottom: 0;
 padding-top: 1rem;
 padding-bottom: 1rem;
 font-family: 'cedarville cursive';
 font-size: 250%;
 font-weight: lighter;
 text-align: center;
}

h2:hover {
  color: pink;
  font-size: 252%;
  letter-spacing: inherit;
  animation-name: wiggle-letters;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes wiggle-letters {
  0% {letter-spacing: 1px;}
  10% {filter: hue-rotate(180deg);}
  20% {filter: hue-rotate(270deg);}
  30% {filter: hue-rotate(360deg);}
  40% {filter: hue-rotate(270deg);}
  50% {letter-spacing: 5px;
       filter: hue-rotate(180deg);}
  60% {filter: hue-rotate(270deg);}
  70% {filter: hue-rotate(360deg);}
  80% {filter: hue-rotate(270deg);}
  90% {filter: hue-rotate(180deg);}
  100%{letter-spacing: 1px;}
}

#samples-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
}
    div img { /**these are the album art covers**/
  width: auto;
  max-width: 30vw;
  height: auto;
}
   
    #lb-media {
      grid-row: 1 / 2;
      grid-column: 1 / 2;}
    #lb-info {
      grid-row: 2 / 3;
      grid-column: 1 / 2;}
    #peach-beach-media {
      grid-row: 1 / 2;
      grid-column: 2 / 3;}
    #peach-beach-info {
      grid-row: 2 / 3;
      grid-column: 2 / 3;}
    #pc-media {
      grid-row: 3 / 4;
      grid-column: 2 / 3;}
    #pc-info {
      grid-row: 4 / 5;
      grid-column: 2 / 3;}
    #lemix-media {
      grid-row: 3 / 4;
      grid-column: 1 / 2;}
    #lemix-info {
      grid-row: 4 / 5;
      grid-column: 1 / 2;}
    #sincerely-media {
      grid-row: 5 / 6;
      grid-column: 2 / 3;}
    #sincerely-info {
      grid-row: 6 / 7;
      grid-column: 2 / 3;}
    #lutes-media {
      grid-row: 5 / 6;
      grid-column: 1 / 2;}
    #lutes-info {
      grid-row: 6 / 7;
      grid-column: 1 / 2;}
    #sealife-media {
      grid-row: 7 / 8;
      grid-column: 2 / 3;}
    #sealife-info {
      grid-row: 8 / 9;
      grid-column: 2 / 3;}
    #seasalt-media {
      grid-row: 7 / 8;
      grid-column: 1 / 2;}
    #seasalt-info {
      grid-row: 8 / 9;
      grid-column: 1 / 2;
}

#samples-text {
  border-bottom: solid;
  border-width: 1px;
  border-color: #E2CBDB;
  margin-left: 1rem;
  margin-right: 1rem;
}
.samples-info {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  max-width: 30vw;
}

.tiny-icons {
  width: 1rem;
  length: auto;
  padding-right: 0.5rem;
}

#pricing-grid-container {
  background-color: #E2CBDB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15vw;
  padding-right: 15vw;
}

#pricing-grid-container:hover {
  filter: opacity(50%);
}

#pricing {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
}

div h3 {
  margin-left: 0.625rem;
  text-align: left;
  font-size: 1.5rem;
}

#icon {
  max-width: 4.5rem;
  height: auto;
  background: #E2CBDB;
  border-radius: 5%;
  grid-column: 0 / 1;
  grid-row: 0 / 1;
}

#icon-container {
  justify-self: start;
  padding: 1rem;
}

#contact-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#contact-info {
   margin-left: 1rem;
   margin-right: 1rem;
   font-size: 1.3rem;
   border-top: solid;
   border-width: 1px;
   border-color: #E2CBDB;
} 

#social-media-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   font-size: 85%;
   text-align: center;
   padding: 1rem;
   margin-left: 5vw;
   margin-right: 5vw;
}

.social-media-icons:hover {
 filter: opacity(50%);
}

.social-media-icons {
  padding-top: 0.625rem;
  width: 3rem;
  height: auto;
  border-style: none;
}

#social-media-name {
  display: none;
}

#photo-caption-kh {
  display: none;
}

#footer-container {
	 display: flex;
	 width: 100vw;
	 background-color: black;
	 filter: opacity(50%);
	 margin-top: 2rem;
	}

	footer {
	  display: grid;
	  grid-auto-flow: column;
	  grid-gap: 1rem;
	  align-items: center;
	  justify-content: space-around;
	  width: 95vw;
	  color: silver;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 1fr;
	  font-size: 95%;
	  padding: 2rem 1rem 1rem 1rem;
	  line-height: 1.5;
	}
	

	.column-3, .column-2, .column-1 {
	  display: grid;
	  justify-content: center;
	  align-content: center;
	  text-align: center;
	  height: 15vh;
	}
	

	.column-2 {
	  visibility: hidden;
	}
	

	.column-3 {
	  visibility: hidden;
	}
	

	.footer-reference-link {
	  text-decoration: none;
	  color: white;
	}
	

	.footer-reference-link:hover {
	  text-decoration: underline;
	  color: white;
	}
.footer-list-item:hover {
  font-weight: 700;
}
}
